<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.metawater.mapper.AttachMapper">

    <!-- 첨부파일 등록 -->
    <insert id="insertFile">
        insert into attach (uuid, folderPath, fileName, product_no)
        values ( #{uuid}, #{folderPath}, #{fileName}, #{product_no})
    </insert>

    <!-- 첨부파일 삭제 -->
    <delete id="deleteFile">
        delete  * from attach where uuid = #{uuid}
    </delete>

    <!-- 모든 첨부파일 삭제 -->
    <delete id="deleteFileAll">
        delete attach where product_no = #{product_no}
    </delete>

    <!-- 제품별 첨부파일 조회 -->
    <select id="findByPno" resultType="uploadResultDTO">
        SELECT * FROM attach
        WHERE product_no = #{product_no}
    </select>


</mapper>