<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.metawater.mapper.MemberMapper">

    <resultMap id="memberMap" type="com.example.metawater.domain.MemberVO">
        <id property="memNo" column="mem_no"/>
        <result property="memId" column="mem_id" />
        <result property="memPw" column="mem_pw" />
        <result property="memName" column="mem_name" />
        <result property="memPhone" column="mem_phone" />
        <result property="memEmail" column="mem_email" />
        <result property="auth" column="auth" />
        <result property="status" column="status" />
    </resultMap>

    <!-- 회원 등록 -->
    <insert id="insertMember">
        insert into member (mem_no, mem_id, mem_pw, mem_name, mem_phone, mem_email, auth)
        values (member_seq.nextval, #{memId}, #{memPw}, #{memName}, #{memPhone},#{memEmail},#{auth})
    </insert>

    <!-- 회원정보 확인 -->
    <select id="findByUserId" parameterType="String" resultMap="memberMap">
        select * from member where mem_id = #{memId}
    </select>

    <!-- id 중복체크 -->
    <select id="checkMemberInfo" parameterType="String" resultType="boolean">
        select * from member where mem_id = #{memId}
    </select>

    <!-- 회원정보 수정 -->
    <update id="updateMember">
        update member
        set mem_name = #{memName},
            mem_phone = #{memPhone},
            mem_email = #{memEmail}
        where mem_id = #{memId}
    </update>

    <update id="deleteMember">
        update member set status = 0 where mem_id = #{memId}
    </update>

<!--    <delete id="deleteMember">-->
<!--        delete from member where mem_id=#{memId}-->
<!--    </delete>-->

<!--    <insert id ="userRole">-->
<!--        insert into memberauth values(#{memberIdx}, 'ROLE_USER')-->
<!--    </insert>-->

<!--    &lt;!&ndash; 모든 회원정보 확인 &ndash;&gt;-->
<!--    <select id="findAllUsers" resultMap="memberMap">-->
<!--        SELECT * FROM member-->
<!--    </select>-->

<!--    &lt;!&ndash; 회원정보 확인 &ndash;&gt;-->
<!--    <select id="findUser" resultMap="memberMap">-->
<!--        SELECT * FROM member-->
<!--        WHERE id = #{id}-->
<!--    </select>-->

<!--    &lt;!&ndash; 권한 등록 &ndash;&gt;-->
<!--    <insert id="insertRole">-->
<!--        insert into auth values(#{mem_id}, 'ROLE_MEMBER');-->
<!--    </insert>-->

<!--    &lt;!&ndash; 회원정보 수정 &ndash;&gt;-->
<!--    <update id="updateMember" parameterType="MemberVO">-->
<!--        update member set phone = #{mem_phone}-->
<!--        where mem_id = #{mem_id}-->
<!--    </update>-->

<!--    &lt;!&ndash; 회원정보 삭제 &ndash;&gt;-->
<!--    <update id="deleteUser">-->
<!--        update member set enabled = 0-->
<!--        where mem_id = #{mem_id}-->
<!--    </update>-->

<!--    &lt;!&ndash; 회원정보 검색 &ndash;&gt;-->
<!--    <select id="getId" resultType="String">-->
<!--        select mem_id from member where mem_id = #{mem_id} and mem_name = #{mem_name}-->
<!--    </select>-->

<!--    &lt;!&ndash; 회원정보 수정 &ndash;&gt;-->
<!--    <select id="updatePw" resultType="String">-->
<!--        update member-->
<!--        set mem_pw = #{mem_pw}-->
<!--        where mem_id = {mem_id} and mem_name = #{mem_name}-->
<!--    </select>-->

<!--    &lt;!&ndash; 회원정보 확인 &ndash;&gt;-->
<!--    <select id="getUser" parameterType="MemberVO">-->
<!--        select * from member where mem_id = #{mem_id}-->
<!--    </select>-->


</mapper>