<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.metawater.mapper.ProductMapper">

    <resultMap id="productMap" type="com.example.metawater.domain.ProductVO">
        <id property="productNo" column="product_no"/>
        <result property="productName" column="product_name"/>
        <result property="productSize" column="product_size"/>
        <result property="productWeight" column="product_weight"/>
        <result property="productDetail" column="product_detail"/>
        <result property="productGuide" column="product_guide"/>
        <result property="productType" column="product_type"/>
        <result property="productMethod" column="product_method"/>
        <result property="productRdate" column="product_rdate"/>
        <result property="productCompany" column="product_company"/>
        <result property="regDate" column="regDate"/>
        <result property="updateDate" column="updateDate"/>
        <result property="imgUrl" column="img_url"/>
        <result property="detailUrl" column="detail_url"/>
        <result property="productSales" column="product_sales"/>
        <result property="productFunction" column="product_function"/>
        <result property="productModel" column="product_model"/>
        <result property="productRentalPrice" column="product_rentalPrice"/>
        <result property="productPrice" column="product_price"/>
        <result property="productColor" column="product_color"/>
<!--        <collection property="colors" resultMap="colorMap"></collection>-->
<!--        <collection property="functions" resultMap="functionMap"></collection>-->
    </resultMap>

<!--    <resultMap id="colorMap" type="com.example.metawater.domain.ColorVO">-->
<!--        <id property="colorNo" column="color_no"/>-->
<!--        <result property="colorName" column="color_name"/>-->
<!--    </resultMap>-->

<!--    <resultMap id="functionMap" type="com.example.metawater.domain.FunctionVO">-->
<!--        <id property="functionNo" column="function_no"/>-->
<!--        <result property="functionName" column="function_name"/>-->
<!--        <result property="functionModel" column="function_model"/>-->
<!--        <result property="functionRentalPrice" column="function_rentalPrice"/>-->
<!--        <result property="functionPrice" column="function_price"/>-->
<!--    </resultMap>-->

<!--    <select id="getProductList" resultMap="productMap">-->
<!--        select distinct p.*, c.color_name, f.function_name-->
<!--        from product p-->
<!--                 left join product_color c on p.product_no = c.product_no-->
<!--                 left join product_function f on p.product_no = f.product_no-->
<!--        order by p.product_no-->
<!--    </select>-->

<!--    <select id="getProductList" resultType="ProductVO">-->
<!--       <![CDATA[-->
<!--        select  * from product where product_no > 0-->
<!--        ]]>-->
<!--    </select>-->

    <select id="getProductList" resultMap="productMap">
        SELECT * from product
    </select>
<!--
    <select id="getBestProductList" resultMap="productMap">
        <![CDATA[
        SELECT p.product_no, p.product_name, p.img_url, c.color_name, f.function_name, f.function_model, f.function_rentalprice, f.function_price
        FROM (
                 SELECT *
                 FROM product
                 WHERE ROWNUM <= 5
             ) p
                 LEFT JOIN product_color c ON p.product_no = c.product_no
                 LEFT JOIN product_function f ON p.product_no = f.product_no
        ]]>
    </select>
-->

    <select id="getBestProductList" resultMap="productMap">
        <![CDATA[
            SELECT * from (select * from product order by product_sales desc) where rownum <= 5
        ]]>
    </select>

    <select id="getProductListBySearch" parameterType="String" resultMap="productMap">
        SELECT *
        FROM product
        WHERE product_name LIKE '%' || #{searchKeyword} || '%'
    </select>

<!--

    <select id="getProduct" resultMap="productMap" parameterType="Long">
        SELECT DISTINCT p.*, c.*, f.*
        FROM product p
                 LEFT JOIN product_color c ON p.product_no = c.product_no
                 LEFT JOIN product_function f ON p.product_no = f.product_no
        WHERE p.product_no = #{product_no}
        ORDER BY p.product_no
    </select>
-->

    <select id="getProduct" resultMap="productMap" parameterType="Long">
        SELECT * from product where product_no = #{productNo}

    </select>


    <insert id="productInsert">
        <selectKey keyProperty="productNo" order="BEFORE"
                   resultType="long">
            select product_seq.nextval from dual
        </selectKey>

        INSERT INTO product(product_no, product_name, product_size,product_weight, product_detail,
                         product_guide, product_type,  product_method,
                         product_rdate, product_company, regDate, updateDate, detail_url,img_url, product_sales, product_function,
                            product_model, product_rentalPrice, product_price, product_color)
        VALUES(
                 #{productNo},#{productName},#{productSize},#{productWeight},#{productDetail},#{productGuide},#{productType},#{productMethod},
        #{productRdate},#{productCompany},sysdate,sysdate,#{detailUrl},#{imgUrl},#{productSales},#{productFunction},#{productModel},
                  #{productRentalPrice},#{productPrice},#{productColor})
    </insert>

    <delete id="productDelete" parameterType="Long">
        delete from product where
            product_no = #{productNo}
    </delete>

    <update id="productUpdate">
        update product
        set  product_name = #{productName},
             product_size = #{productSize} ,
             product_weight = #{productWeight} ,
             product_detail = #{productDetail} ,
             product_type = #{productType},
             product_method = #{productMethod},
             product_company = #{productCompany},
             updateDate = sysdate,
        where product_no = #{productNo}
    </update>
</mapper>
